$theme-color1: #0984e3;
$theme-color2: #f9f9f9;
$theme-color3: var(--bg-color-light, #f5f5f5);
$theme-color4: #f2f2f2;
$theme-color5: var(--text-color-light, #333333);
// $theme-color6: #ffffff;
$theme-color6: var(--bg-item-color-light, #ffffff);
$theme-color7: #ff0000;
$theme-color8: rgba(0, 0, 0, 0.5);
$theme-color9: #000000;
$theme-color10: #ecf5ff99;
$theme-color11: #a9ea7a;

// .light {
//   --bg-color-dark: --bg-color-light;
//   --text-color-dark: --text-color-light;
// }
.dark {
  --bg-color-light: red;
  --text-color-light: --text-color-dark;
}
.hr-class {
  margin: 20px 0;
  height: 4px;
  border: 0;
  background-color: $theme-color4;
  background-image: repeating-linear-gradient(
    -45deg,
    #fff,
    #fff 4px,
    transparent 0,
    transparent 8px
  );
}

/* 单行省略号 */
.singleEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 隐藏滚动条:https://developer.mozilla.org/zh-CN/docs/Web/CSS/::-webkit-scrollbar
.hideScrollbar {
  // 整个滚动条
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: rgba(0, 0, 0, 0);
    border-radius: 0px;
  }

  // 滚动条轨道
  &::-webkit-scrollbar-track {
    box-shadow: rgba(0, 0, 0, 0);
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
  }

  // 滚动条上的滚动滑块
  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: transparent;
  }
}

// 单行省略号
.singleEllipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
