// 除了导入.sass和.scss文件之外，Sass 还可以导入普通的旧.css文件。唯一的规则是导入不能显式包含.css扩展名
// @import './github-markdown.min';

$theme-color1: #0984e3;
$theme-color2: #f9f9f9;
$theme-color3: var(--bg-color-light, #f5f5f5);
$theme-color4: #f2f2f2;
$theme-color5: var(--text-color-light, #333333);
// $theme-color6: #ffffff;
$theme-color6: var(--bg-item-color-light, #ffffff);
$theme-color7: #ff0000;
$theme-color8: rgba(0, 0, 0, 0.5);
$theme-color9: #000000;
$theme-color10: #ecf5ff99;
$theme-color11: #a9ea7a;
