body{
  margin: 0px;
  padding: 0px;
  color:#666;
  background:#f5f8f9;
}
/* body,ul,h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  padding: 0px;
  color:#666
} */
.header-wrapper{
  /* box-shadow:0 0 5px rgba(0,0,0,.1); */
  background:white;
  width:100%;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top:0;
  z-index: 100;
}
.main{
  box-sizing: border-box;
  margin:140px auto 0;
  overflow: hidden;
  min-height:calc(100vh - 120px);
  padding-bottom:100px;
}
.content{
  background-color: white;
  border-radius: 5px;
  overflow:hidden;
  box-shadow:0 0 5px rgba(0,0,0,.1);
  padding:30px;
}
.container{
  margin:0 auto;
  overflow: hidden;
}

.nav{
  /* width:55%; */
  /* box-sizing: border-box; */
}
.search{
  /* box-sizing: border-box; */
  /* width:15%; */
  /* height:70px; */
  /* line-height:70px */
}
.login{
  /* width:10%; */
  /* text-align: center; */
  /* box-sizing: border-box; */
  /* height:70px; */
  /* line-height:70px */
}

.article{
  width: 70%;
  float: left;
}
.navb{
  width: 30%;
  box-sizing: border-box;
  padding:0 15px;
  float: right;
}
.footer{
  padding: 20px 10px;
  background:#232323;
  text-align: center;
  font-size: 12px;
}
.artimg{
  min-height:250px;
  background-position:50% 50%;
  background-size:cover;
  -webkit-transition:all .4s;
  transition:all .4s
}
.arttxt{
  min-height: 250px;
}
.user{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px;
  background:white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.userbgimg{
  /* background: url(../imgs/2.jpg) no-repeat 50%; */
  /* height: 40%; */
  height: 150px;
}
.userlogo{
  border-radius: 50%;
  transition: all .5s;
}
.userlogo:hover{
  transform:rotate(1turn);
}
.userid{
  width: 220px;
  box-sizing: border-box;
  margin:0 auto;
  text-align: center;

}
.hotart{
  box-shadow: 0 2px 5px rgba(0,0,0,.1);
  background: white;
  border-radius: 5px;
  height: 100%;
  margin-top: 20px;
  border-radius: 5px
}

.imghover:hover{transform: scale(1.05);}
.imghover{
  transition: all .5s;
}

/* 超出文本显示... */
.overtext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

  .navmenu{
    /* height:70px; */
    /* line-height:70px; */
    overflow: hidden;
  }
  .navmenu1{
    /* height:70px; */
    /* line-height:70px; */
    text-align: center;
    display: none;  
  }
  .nav ul li{
    display: inline-block;
    margin: 0 15px;
    padding:0 4px;
    position: relative;
    color:#666;
    cursor: pointer;

  }
  .nav ul li:hover{
    color: #53a8ff
  }
  /* .nav ul li:before{
    content:"";
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transition:all .3s ease
  } */

/* 响应式布局 - 小于 992px */
@media screen and (max-width: 992px){
  .main {
    padding: 0 20px;
}
  .article{
    width: 100%;
  }
  /* .nav{
    width: auto
  }
  .search{
    width: 30%
  } */
  .navmenu{
    display: none;
  }
  .navmenu1{
    display: block;
  }
  .navb{
    display:none;
  }
}
/* 响应式布局 - 小于 540px */
@media screen and (max-width: 540px) {
  .header, .main{
    box-sizing: border-box;
    width: 100%;
    /* padding: 0 10px; */
  }
  .nav, .search{
    /* flex:2 */
  }
  .article-con{
    display:block !important;
  }
  .article-l{
    margin: 0 !important
  }
  .img{
    min-height: 150px;
  }
}

/* 响应式布局 - 大于540px */
@media screen and (min-width: 540px) {
  .header, .main {
      width: 100%;
  }

}

/* 响应式布局 - 大于 992px */
@media screen and (min-width: 992px) {
  .header, .main {
      width: 960px;
  }
}

/* 响应式布局 - 大于 1200px */
@media screen and (min-width: 1200px) {
  .header, .main {
      width: 1140px;
  }
}

